<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Chiave NSPrincipalClass al livello principale -->
    <key>NSPrincipalClass</key>
    <string>$(PRODUCT_MODULE_NAME).SampleHandler</string>

    <!-- Chiave NSExtension con le sue proprietà -->
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.broadcast-services-upload</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).SampleHandler</string>
        <!-- Se non hai uno storyboard per l'estensione, puoi omettere questa chiave -->
        <!-- <key>NSExtensionMainStoryboard</key>
        <string></string> -->
        <key>RPBroadcastProcessMode</key>
        <string>RPBroadcastProcessModeSampleBuffer</string>
    </dict>
</dict>
</plist>
